<%= link_to 'Add Restaurant', new_restaurant_path %>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name + " - " +  restaurant.category  %> - <%= link_to 'View', restaurant_path(restaurant.id) %></li>
  <% end %>
</ul>
